/*
Jay Denton Music Styles
*/



/*----------	Custom Styling	-----------*/
	

.navbar .brand  {
	font-family: 'komu-a', @headingsFontFamily;
	vertical-align: baseline;
	font-size: 4.0rem;
}

.hero-unit {
	background-image: url('../img/header.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: right;
	font-size: 3.0rem;
	h1 {
		font-family: 'komu-a', @headingsFontFamily;
		font-weight: 'normal';
		font-size: 8.0rem;
		line-height: 4.0rem;
	}
}

footer.site-footer {
	background-color: darken(@blueDark, 10%);
	nav	{
		background-color: darken(@blueDark, 10%);
		text-align: center;
		padding: 0.5rem 0 0 0;
	}
}

a.btn-navbar[data-toggle="collapse"]	{
	margin-top: 15px;
}







